@import "tailwindcss";

@font-face {
  font-family: 'Brockmann';
  src: url('../fonts/brockmann-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: 'Brockmann', system-ui, -apple-system, Segoe UI, Roboto, Inter, sans-serif;
}

html, body, #__nuxt { height: 100%; }

body {
  margin: 0;
  font-family: var(--font-sans);
}