@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --app-bar-height: 64px;
}

/* appbar */

.appbar {
  overflow: hidden;
  z-index: 1000;
  height: var(--app-bar-height);
  background: #ffffff;
  border-bottom: 2px solid #000000;
  color: #1d1d1b;
}

.appbar-logo {
  color: #1d1d1b;
}

.menu-item {
  padding-left: 30px;
  padding-right: 30px;
}

.menu-item:hover {
  background-color: #000;
  color: #f0f0f0;
}

.main-container {
  padding-top: var(--app-bar-height);
  padding-left: 40px;
  /* height: calc(100vh - var(--app-bar-height)); */
}

/* main-container */
.main-content {
  z-index: 0;
  max-height: 100%;
  overflow: hidden;
}

/* homepage */

.map-container {
  width: 100%;
  position: relative;
}

.hovering-country {
  border: 2px solid #1d1d1b;
  padding: 12px;
  margin-bottom: 16px;
}

.leaflet-container {
  max-height: 100%;
}

/* map */



/* page country */

.country-page-content {
  padding-left: 50px;
  padding-right: 30px;
}

.country-header {
  /* border: 2px solid #1d1d1b; */
  padding-top: 30px;
}

.meta-type {
  background-color: #111827;
  color: white;
  border-radius: 4px;
}

/* composant country list */

.country-list-container {
  position: fixed;
  
}

/* Scrollbar style */
/* Chrome, Safari, Edge */
.country-list-container::-webkit-scrollbar {
  width: 6px;
}

.country-list-container::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 0px !important;
  box-shadow: none !important;
  border: none !important;
}
/* Firefox */
.country-list-container {
  max-height: calc(100vh - 54px);
  top: 54px;;
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.toggle-country-list {
  position: fixed;
  z-index: 1000;
  top: calc((100% - 54px) / 2);
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.toggle-country-list:hover {
  /* background-color: black; */
  /* color: white; */
}
/* composant meta */

.image-container {
  max-width: 400px;
  overflow: hidden;
}

.meta-image-container {
  max-height: 200px;
  overflow: hidden;
  /* Assure que l'image est positionnée par rapport à ce conteneur */
}

/* composant addmeta */

.custom-select__control {
  box-shadow: none !important;
  border: 1px solid #ccc;
}

.custom-select__control--is-focused {
  box-shadow: none !important;
  border: 1px solid black;
}

.add-meta-container {
  border: 2px solid #000000;
  margin-bottom: 15px;
}

.add-meta-button {
  width: 100%;
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  gap: 10px;
  height: 56px;
}

.add-meta-button:hover {
  background-color: black;
  color: white;
}

.image-container {
  height: 200px;
  width: 300px;
  border: 2px solid #000000;
}

/* composant meta tag */
.meta-tag {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 8px;
}