@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --app-bar-height: 64px; /* Définit la variable au niveau global */
}

.appbar {
  height: var(--app-bar-height); /* Utilise la variable globale */
}

.main-content {
  padding-top: var(--app-bar-height); /* Maintenant ça fonctionne ! */
}

.meta-type {
  background-color: #111827;
  color: white;
  border-radius: 4px;
}