@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --app-bar-height: 64px; /* Définit la variable au niveau global */
}

.appbar {
  height: var(--app-bar-height); /* Utilise la variable globale */
  background: #ffffff;
  border-bottom: 2px solid #000000;
  color: #1d1d1b;
}

.appbar-logo {
  color: #1d1d1b;
}
.main-content {
  padding-top: var(--app-bar-height); /* Maintenant ça fonctionne ! */
}

/* page country */

.country-page-content {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 40;
}
.country-header {
  border: 2px solid #1d1d1b;
}

.meta-type {
  background-color: #111827;
  color: white;
  border-radius: 4px;
}

.country-list-container {
  border-right: 2px solid #000000;
}
